body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 50px;


}

.form-container {
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200 auto;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sub-button {
  width: 300px;
}

.App {
  display: flex;
  padding-right: 80px;
  justify-content: center;
}

.members-list {
  margin-top: 50px;
}
